/* Global styles */
body {
    font-family: Manrope;
    background-color: hsl(210, 46%, 95%);
}

h3, h4 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

p {
    color: hsl(214, 17%, 51%);
    font-size: 13px;
}

/* Main card styles */
.main-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px;
    max-width: 660px;
}

/* Main card image styles */
.main-card-image img {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    display: block;
    width: 100%;
}

/* Main card text styles */
.main-card-text {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.main-card-text h3 {
    padding: 0 30px;
}

.main-card-text-p {
    font-weight: 500;
    padding: 0 30px;
}

/* Footer styles */
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    width: 630px;
}

.footer #avatar {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.footer .footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 300px;
    line-height: 1px;
}

/* Share button styles */
.footer #share-button {
    width: 50px;
    height: 50px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    cursor: pointer;
}

.footer #share-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 60%;
    max-height: 60%;
    width: 25px;
}

.social-media {
    width: 660px;
    height: 80px;
    background-color: hsl(217, 19%, 35%);
    display: none;
    grid-template-columns: 2fr 1fr;
    color: #edf2f8;
    position: relative;
    bottom: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
}

.social-media.active {
    display: grid;
}

.social-media-icons {
    text-align: center;
    align-content: center;
}

.social-media-icons span {
    color: #edf2f8;
    letter-spacing: 4px;
}

.social-media i {
    font-size: 16px;
    padding: 0 5px;
}

.return-button {
    background-color: #6d7f97;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    align-self: center;
    cursor: pointer;
    align-content: center;
    text-align: center;
    color: #edf2f8;
}

/* Media queries */
@media (min-width: 850px) {
    .main-card-container {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        max-width: 850px;
    }

    .main-card {
        flex-direction: row;
        align-items: stretch;
        display: flex;
        width: 100%;
    }

    .main-card-image {
        display: flex;
        width: 35%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .main-card-image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    .main-card-text {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 65%;
        position: relative;
    }

    #share-button {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 1px;
        box-sizing: border-box;
    }

    .footer {
        width: 550px;
    }

    .footer-text {
        margin-right: 25px;
        padding-bottom: 7px;
    }

    .social-media {
        grid-template-columns: 1fr;
        position: absolute;
        bottom: 195px; 
        left: calc(50% + 135px); 
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 230px;
        height: 50px;
    }

    .social-media::before {
        border-top: 15px solid #48556a;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        content: '';
        position: absolute;
        width: 0;
        top: 49px;
        left: calc(50% - 7px);
    }

    .return-button {
        display: none;
    }
}


@media (max-width: 748px) {
    .footer {
       width: 605px;
    }
}